.my-test {
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    z-index: 9999;
}

.cr-offset {
    display: none!important;
}

.s-isindex-wrap[id=s_wrap] {
    display: none!important;
}
.App-main[role=main] .Topstory {
    display: none!important;
}