.review-page {

}
table,table tr th, table tr td {
    border:1px solid #0094ff;
}

.review-page tr {

}

.review-page tr[data-status='start']{
    border: 10px solid red;
    background: red;
}
.review-page tr[data-status='finish']{
    background: greenyellow;
}
